# **Homework 0**
**Student ID:** 002581393
**Name:** Luis Alberto Robles Hernandez
<br><br>

**1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.**

In [255]:
number = 10 #@param {type:"integer"}

def factorial(x):
  result = 1
  for i in range(1,x+1):
    result = result * i
  return result

print("The factorial of "+str(number)+" is \033[91m"+str(factorial(number))+" \033[0m")

The factorial of 10 is 3628800

**2. Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.**

In [253]:
number1 = 3 #@param {type:"integer"}
number2 = 1251 #@param {type:"integer"}

def isPrimeNumber(x):

  if(x != 1):
    for i in range(2,x):
      #The number one and it's own number is omitted
      #The code it's trying to find at least one factor besides one and it´s own number
      if x % i == 0:
        return False
    
    return True
  else:
      return False

print("The number "+str(number1)+" is \033[91m"+
      ("a prime number" if isPrimeNumber(number1) else "not a prime number")+" \033[0m \r\n")
print("The number "+str(number2)+" is \033[91m"+
      ("a prime number" if isPrimeNumber(number2) else "not a prime number")+" \033[0m \r\n")

The number 3 is a prime number

The number 1251 is not a prime number

**3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.**

![MatrixTranspose[1].gif]()

In [252]:
sizeMatrix = 3 #@param {type:"integer"}

T2 = [[0 for x in range(sizeMatrix)] for y in range(sizeMatrix)]

#Function to transpose a Matrix
def transposeMatrix(T):
  #T2 = T[:][:]
  for i in range(len(T)):
    for j in range(len(T[0])):
      T2[j][i] = T[i][j]
  return T2

#Method to create an identity matrix from T
T = [[0 for x in range(sizeMatrix)] for y in range(sizeMatrix)]

for i in range(sizeMatrix):
  for j in range(sizeMatrix):
      
    if(i == j):
      T[i][j] = int(1)

#Prints the results from the original matrix
print("\033[1mOriginal matrix:\033[0m  \r\n")
for i in range(sizeMatrix):
  for j in range(sizeMatrix):
    print(T[i][j]," ",end='')
  print()

#Calls the function to transpose to a new matrix variable
TN = transposeMatrix(T)

#Prints the results from the transposed matrix
print()
print("\033[1mTransposed matrix:\033[0m \r\n")
for i in range(sizeMatrix):
  for j in range(sizeMatrix):
    print(TN[i][j]," ",end='')
  print()

Original matrix:

1  0  0
0  1  0
0  0  1

Transposed matrix:

1  0  0
0  1  0
0  0  1

**4. Using Pandas and Numpy, write a piece of code to combine two series into one. Test your code with:** <br>
*np.random.seed(0) <br>
series1 = pd.Series(np.arange(10)) <br>
series2 = pd.Series(np.arange(26)) <br>
Do not forget to set the seed, or your answer won’t be reproducible.*

In [108]:
import numpy as np
import pandas as pd

lengthSeries1 = 10 #@param {type:"integer"}
lengthSeries2 = 26 #@param {type:"integer"}

#We create the two series with the length provided for each one
np.random.seed(0)
series1 = pd.Series(np.arange(lengthSeries1))
series2 = pd.Series(np.arange(lengthSeries2))

maxLength = 0
minLength = 0

#With these conditionals we determine the maxLength and minLength of the two Series
if(len(series1) > len(series2)):
  maxLength = len(series1)
  minLength = len(series2)
else:
  maxLength = len(series2)
  minLength = len(series1)

#We create an empty dataframe to combine the two series, one in each column
df_ = pd.DataFrame(index=range(maxLength), columns=['Series1','Series2'])

#In this for loop we combine the two series
#For the shorter series, it will be replaced it's empty values with a 0 (instead of a NaN)
#This is done using also ternary operations
for i in range(maxLength):
    df_.loc[i] = [(series1[i] if i < len(series1) else 0),(series2[i] if i < len(series2) else 0)]

#We print the results with it's series combined in a single dataframe
df_

   Series1 Series2
0        0       0
1        1       1
2        2       2
3        3       3
4        4       4
5        5       5
6        6       6
7        7       7
8        8       8
9        9       9
10       0      10
11       0      11
12       0      12
13       0      13
14       0      14
15       0      15
16       0      16
17       0      17
18       0      18
19       0      19
20       0      20
21       0      21
22       0      22
23       0      23
24       0      24
25       0      25

**5. Using pandas, write a piece of code to convert the first character of each element in a series to uppercase. Test your code with:** <br>
*series = pd.Series(['nlp', 'will', 'be', 'easy?'])*

In [251]:
import pandas as pd

series = pd.Series(['nlp', 'will', 'be', 'easy?'])

#Function to uppercase the first character of each element in a series
def convertFirstCharacterToUpperCase(s):

  for i in range(series.size):
    #Converts only the first character from an i element to uppercase
    letterCapitalized = series[i][0].upper()
    #Then it's concatenated the uppercased letter among with the other leters, except from the starting letter (that's why [1:] is used to ignore the first letter)
    series[i] = letterCapitalized + series[i][1:]

print("\033[1mOriginal series:\033[0m \r\n")
print(series)

#Calls the previous function to uppercase the first character of each element in a series
convertFirstCharacterToUpperCase(series)

print()
print("\033[1mSeries with it's first character of each element uppercased:\033[0m \r\n")
print(series)

Original series:

0      nlp
1     will
2       be
3    easy?
dtype: object

Series with it's first character of each element uppercased:

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

**Bonus: Using pandas, write a piece of code to get the frequency of unique values in the entire dataframe (not using built in functions). Test your code with:** <br>
*dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))*

In [254]:
import pandas as pd

minValue = 5 #@param {type:"integer"}
maxValue = 10 #@param {type:"integer"}

dataFrame = pd.DataFrame(np.random.randint(minValue, maxValue, 20).reshape(-1, 4), 
                         columns = list('abcd'))

#Variables to measure the size of the dataframe (cols,rows)
nRows = len(dataFrame)
nColumns = len(dataFrame.columns)

#Function to count the frequency of unique values in a given dataframe
def getFrequencyOfUniqueValues(df):

  #Firstly, we initialize an empty dataframe
  df_ = pd.DataFrame(columns=['Value','Frequency'])

  #In a nested for loop, we analyze each value from the given dataframe
  for i in range(nRows):
    for j in range(nColumns):
      #Gets a value in i row from j col in the dataframe
      cellValueTemp = df.iat[i,j]

      #If the value analyzed is still not counted, 
      #it will add a new row with the frequency of 1 (because it's a new row)
      if (df_.loc[df_['Value'] == cellValueTemp]).empty:
        df_ = df_.append({'Value': cellValueTemp, 'Frequency':1}, ignore_index=True)
      #In case the unique value was already counted, in it's frequency value it's added by 1
      else:
        indexNumber = (df_.loc[df_['Value'] == cellValueTemp]).index.values.astype(int)[0]
        df_.loc[indexNumber,'Frequency'] += 1

  return df_

#Results are printed, showing the original dataframe and the frequency of their unique values
print("\033[1mOriginal Dataframe: \033[0m \r\n")
print(dataFrame)
print()
print("\033[1mFrequency of Unique Values in DataFrame: \033[0m \r\n")
print(getFrequencyOfUniqueValues(dataFrame).to_string(index=False))

Original Dataframe:

   a  b  c  d
0  6  9  5  5
1  5  9  7  7
2  6  9  7  8
3  6  7  8  6
4  5  5  8  5

Frequency of Unique Values in DataFrame:

Value Frequency
    6         4
    9         3
    5         6
    7         4
    8         3